.productosporcategorias{
    height: 50%;
    width: 51%;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;


}

.conteiner-img{
    width: 100%;
    max-width: 575.98px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 230px);
    row-gap: 10px;
    }
    
    
    
    .conteiner-img .box-img1 figure,
    .conteiner-img .box-img2 figure,
    .conteiner-img .box-img3 figure,
    .conteiner-img .box-img4 figure{
        width: 100%;
        height: 100%;
       
    }
    
    .conteiner-img .box-img1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    
    .conteiner-img .box-img2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        
    }
    .conteiner-img .box-img3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
    .conteiner-img .box-img4 img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    
    .box-img1{
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
        height: 100%;
    }
    
    .box-img2{
        grid-area: 2 / 1 / 3 / 3;
        width: 100%;
        height: 100%;
    }
    
    .box-img3{
        grid-area: 3 / 1 / 4 / 3; 
        width: 100%;
        height: 100%;
    
    }
    .box-img4{
        grid-area: 4 / 1 / 5 / 3;
        width: 100%;
        height: 100%;
    }